<!DOCTYPE html>
<html>
<head>
	<title>javascipt</title>
	<meta charset="utf-8"/>
</head>
<body>
	<form method="POST" action="/login-session" >
		<div class="col"><input type="text" class="txtuser" placeholder="Username"></div>
		<div class="col" ><input type="text" class="txtpass" placeholder="Password"></div>
		<button type="submit">Sign Up</button>
		<p class = "message" ></p>
	</form>
<script type="text/javascript" src="magic.js"></script>
</body>
</html> 